<div class="container">
    <h2>User List</h2>
    <button mat-raised-button color="primary" (click)="openAddUserDialog()">Add User</button>
    
    <table mat-table [dataSource]="(users$ | async) || []" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let user"> {{user.dateOfBirth | date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="consent">
        <th mat-header-cell *matHeaderCellDef> Consent </th>
        <td mat-cell *matCellDef="let user"> {{user.consent ? 'Yes' : 'No'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <div class="mat-row" *matNoDataRow><div class="mat-cell">No data</div></div>
    </table>
  </div>